.header3 {
  height: 100vh;
  padding-top: 100px;
  margin-top: -50px;
  margin-bottom: 50px;
  text-align: center;
  background-image: url('../images/header3.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  min-height: 850px;
}
.header3 h1 {
  font-size: 80px;
}
.header3 .lead {
  margin-top: -40px;
}
.header3 input {
  border: none;
  box-shadow: none;
  background-color: black;
  opacity: 0.4;
}
.header3 input:focus { 
  border-bottom: none;
  box-shadow: 0 10px 20px -10px black;
  color: white;
  transition-duration: 0.5s;
}
